<script data-require="angular.js@1.1.5" data-semver="1.1.5" src="http://code.angularjs.org/1.1.5/angular.min.js"></script>
    <link data-require="bootstrap-css@2.3.2" data-semver="2.3.2" rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" />
    <script data-require="angular-ui-bootstrap@0.3.0" data-semver="0.3.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.min.js"></script>
    
<div class="row">
    <div class="col-md-4">
        <input type="text"
            [(ngModel)]="filters.keyword"
            name="keyword"
            (input)="listExpenses()" 
            class="form-control"
            placeholder="search expense"/>
    </div>
    <div class="col-md-4">
        <select name="sortBy" 
                [(ngModel)]="filters.sortBy" 
                (change)="listExpenses()"
                class="form-control">
            <option>Expense</option>
            <option>Amount</option>
        </select>
    </div>

    <div class="col-md-4">
        <a class="btn btn-primary text-light" routerLink="/Addexpense">Add Expense</a>
    </div>
</div>
<table class="table table-bordered table-striped">
    <thead> 
        <tr>
            <td>expense</td>
				<td>expense amount</td>

            </tr>
		</thead>
        <tbody>
        <tr  *ngFor="let expense of expenses | paginate:{ itemsPerPage : 5 , currentPage:p};" >
        <td>{{expense.expense}}</td>
        <td>{{expense.amount | currency: 'INR'}}</td>
    </tr>
</tbody>
  <pagination-controls (pageChange) = "p = $event"></pagination-controls>
</table>
 
